@font-face {
    font-family: 'gotham300';
    src: url('../fonts/gotham-book.woff2') format('woff2'),
        url('../fonts/gotham-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gotham400';
    src: url('../fonts/gotham-medium.woff2') format('woff2'),
        url('../fonts/gotham-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gotham700';
    src: url('../fonts/gotham-bold.woff2') format('woff2'),
        url('../fonts/gotham-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
